@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f4f6f8;
  /* font-family: Arial;
  padding: 20px;
  background: #f5f5f5; */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.status-bar {
  background: #e3f2fd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.form-group {
  margin-bottom: 15px;
}

input,
select,
textarea,
button {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s ease;
}

button:hover {
  background: #0b7dda;
}

#btn-cancelar {
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: none;
}

#btn-cancelar:hover {
  background-color: #35c93c;
}

.btn-remover {
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-remover:hover {
  background-color: #35c93c;
}

.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tarefa-item {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tarefa-item.alta {
  border-color: #f44336;
}

.tarefa-item.media {
  border-color: #ff9800;
}

.tarefa-item.baixa {
  border-color: #4caf50;
}

.tarefa-acoes {
  margin-top: 10px;
}

.btn-status {
  margin-right: 5px;
  padding: 5px 10px;
}

.nao-sincronizado {
  background: #fff3cd;
  border: 1px solid #ffeaa7;
}

.erro {
  color: #f44336;
  margin-top: 5px;
}

strong {
  width: 90px;
  color: #3d3d3d;
}
